:root {
  --pink: rgb(212, 110, 127);
  --dark-pink: rgb(204, 82, 102);
  --darker-pink: rgb(204, 82, 102);
  --purple: rgb(120, 65, 196);
  --metallic: rgb(129, 111, 104);
  --font-stack: 'Oswald', sans-serif;
}
